
:root{
	--primaryColor:#c1bcac;
	--secondaryColor:#B0AA96;

	--borderColor:#807960;

	--primaryText:#fff;
	--secondaryText:#ffffff;

	--themeBorder:#FFF;

	--previewBg:#9f977fb4;
	--introShadow:#746d58;


	--submitColor:#69634F;

    --socialColor:#353328bd;

    --cvBtn:#514C3D;
    --cvBtnHover:#69624F;
    --aTag:#0190c4;


}