<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

<section class="sec1"> 
    <div class="main-container">
        <div class="intro">
            <h1>Hi, I'm Sahal Rasheed</h1>
        </div>

        <div class="navigation"> 
            <div class="nav-wrapper">
                <div class="dots-wrapper">
                    <div id="dot1" class="dots"></div>
                    <div id="dot2" class="dots"></div>
                    <div id="dot3" class="dots"></div>
                </div>
                <ul id="contact-wrapper">
                    <li><a href="https://github.com/Sahal-Rasheed" target="_blank"><i class="fa fa-github-square fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/sahal-rasheed" target="_blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="#submit-form">Contact</a></li>
                </ul>
            </div>
            <div class="left-wrapper">
                <img id="profile" src="../../assets/images/ProfilePictureMaker.png">
                
                <div class="cv">
                    <p><a href="../../assets/images/Resume.pdf" target="_blank" class="cv-btn">Download Resume</a></p>
                </div>

                <h5 style="text-align: center; line-height: 0;">Choose Theme</h5>
                
                <div id="themes-wrapper">
                    <div data-mode="light" id="theme1" class="themes" (click)="btnClick($event)"></div>
                    <div data-mode="black" id="theme2" class="themes" (click)="btnClick($event)"></div>
                    <div data-mode="blue" id="theme3" class="themes" (click)="btnClick($event)"></div>
                    <div data-mode="beige" id="theme4" class="themes" (click)="btnClick($event)"></div>
                </div>
            </div>
            <div class="right-wrapper">
                <div id="intro-text-shadow">
                    <div id="intro-text">
                        <div id="ctl" class="corners"></div>
                        <div id="ctr" class="corners"></div>
                        <h3>
                            What I Do
                        </h3>
                        <p>
                            I am a Full Stack Web Developer with primary focus on Django + Angular,
                            I enjoy developing web applications.
                        </p>
                        <div id="cbl" class="corners"></div>
                        <div id="cbr" class="corners"></div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>

