<section class="sec2"> 
    <div class="main-container"> 
        <div class="about-wrapper">
            <div class="about-me">
                <h4 style="margin-bottom: 20px; font-size: 38px;" class="ab">About Me</h4>
                <p id="ab-text">
                    I am a Full stack Web developer with expertise in Python, Django, and Angular.
                    I have a passion for creating functional and user-friendly web applications.
                    I enjoy developing personal projects to improve my knowledge and to learn new things.
                    I'm always looking to improve my skills through active learning and development.

                    <!-- I have a passion for creating high-quality web applications that are both functional and user-friendly.
                    I am passionate about programming and have been actively learning and developing my skills. -->
                </p>

                <h4 style="margin-bottom: 45px; font-size: 38px;" class="ab">Skills</h4>

                <div id="skills" style="font-size: 16px;list-style:none;">
                    <p>
                        <li>- Python</li>
                        <li>- Django</li>
                        <li>- Angular</li>
                        <li>- HTML/CSS</li>
                    </p>
                    <p>
                        <li>- Bootstrap</li>
                        <li>- Postgres</li>
                        <li>- Javascript</li>
                        <li>- Version Control (Git)</li>
                    </p>
                </div>

            </div>

         
            <div class="education">
                <h4 style="font-size: 38px;" class="ab">Education</h4>
                <div class="edu">
                    <h5>
                        Luminar Technolab | Intenship
                    </h5>
                    <h5 class="year">2022 - 2023</h5>
                </div>
                <p style="margin-top: -22px; font-size: 16px;">
                    Django + Angular Full Stack Web Developement.
                </p>
                <br>
                <br>
                <div class="edu">
                    <h5>
                        Bachelor of Computer Application
                    </h5>
                    <h5 class="year">2019 - 2022</h5>
                </div>
                <p style="margin-top: -22px; font-size: 16px;">
                    Certified in Bachelor of Computer
                    Application from Mother Arts &
                    Science College, Thrissur (Affiliated
                    by Calicut University).
                </p>
                <br>
                <br>
                <div class="edu">
                    <h5>
                        Higher Secondary Education
                    </h5>
                    <h5 class="year">2017 - 2019</h5>
                </div>
                <p style="margin-top: -22px;font-size: 16px;">
                    Completed Higher Secondary education from
                    National Huda Central, Orumanayoor (Affiliated
                    to Central Board of Secondary Education (CBSE)).
                </p> 
            </div>
        </div>
    </div>
</section>

