<section class="sec1">
    <div class="main-container">
        <h3 style="text-align: center;">My Projects</h3>
        <div class="project-wrapper">
            <div class="project">
                <a href="https://abc-institute.netlify.app/" target="_blank">
                    <img class="pro-image" src="../../assets/images/institute.png">
                    <div class="project-preview">
                        <h6 class="project-title">Institute Management System</h6>
                            <p class="project-desc">
                            An efficient Institute Management System designed to streamline the process of managing students, staffs, courses, batches, and announcements. 
                            Built using Angular & Django REST API. <a href="https://www.linkedin.com/posts/sahal-rasheed_python-django-html-activity-7032937248618647552-rzY2?utm_source=share&utm_medium=member_desktop" target="_blank">Read More</a>
                            </p>
                    </div>
                </a>
            </div>
            <div class="project">
                <a href="https://www.linkedin.com/posts/sahal-rasheed_python-django-html-activity-7051773429422698496-hZa8?utm_source=share&utm_medium=member_desktop" target="_blank">
                    <img class="pro-image" src="../../assets/images/estore.png">
                    <div class="project-preview">
                        <h6 class="project-title">E-Store</h6>
                            <p class="project-desc"> 
                            An ecommerce platform built using Python Django and is
                            exclusively for electronic items. E-Store is a fully functional ecommerce project with a 
                            User Side and dedicated Admin Side. <a href="https://www.linkedin.com/posts/sahal-rasheed_python-django-html-activity-7051773429422698496-hZa8?utm_source=share&utm_medium=member_desktop" target="_blank">Read More</a>
                        </p>
                    </div>
                </a>
            </div>
            <div class="project">
                <a href="https://www.linkedin.com/posts/sahal-rasheed_python-django-html-activity-7039574865644843009-sz_g?utm_source=share&utm_medium=member_desktop" target="_blank">
                    <img class="pro-image" src="../../assets/images/blog.png">
                    <div class="project-preview">
                        <h6 class="project-title">Open Blog</h6>
                            <p class="project-desc">
                            A blog website which allows user's to signup to
                            the web app and post their blogs. Includes
                            User Authentication and User Profile,
                            Users can Like and Comment on Blogs, Follow users. <a href="https://www.linkedin.com/posts/sahal-rasheed_python-django-html-activity-7039574865644843009-sz_g?utm_source=share&utm_medium=member_desktop" target="_blank">Read More</a>
                        </p>
                    </div>
                </a>
            </div>
            <div class="project">
                <a href="https://www.linkedin.com/posts/sahal-rasheed_python-django-html-activity-7032937248618647552-rzY2?utm_source=share&utm_medium=member_desktop" target="_blank">
                    <img class="pro-image" src="../../assets/images/chat.png">
                    <div class="project-preview">
                        <h6 class="project-title">Chat Bot</h6>
                            <p class="project-desc">
                            This Chat Bot provides answers for the user queries with the
                            help of Open AI. Includes
                            Social Authentication using Google & GitHub, 
                            Search limits,
                            Stores chat history one by one. <a href="https://www.linkedin.com/posts/sahal-rasheed_python-django-html-activity-7032937248618647552-rzY2?utm_source=share&utm_medium=member_desktop" target="_blank">Read More</a>
                            </p>
                    </div>
                </a>
            </div>
        </div>
        <h4 style="display: flex;justify-content: center;text-align: center;margin-top: -20px;"><a href="https://www.linkedin.com/in/sahal-rasheed/recent-activity/shares/" target="_blank">For More Visit</a></h4>
    </div>
</section>