<section class="sec2">
    <div class="main-container"> 
 
        <h3 style="text-align: center;font-size: 38px;">Contact</h3>

        <div class="social-wrapper">
            <a href = "https://github.com/Sahal-Rasheed" class="social"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/sahal-rasheed" target="_blank" class="social"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
            <a href="https://api.whatsapp.com/send?phone=9645192100&text=Hello Sahal..." target="_blank" class="social"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a>
            <a href="mailto:sahalrasheed48@gmail.com" target="_blank" class="social"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
        </div>

       <form id="submit-form" action="https://formspree.io/f/mzbqonwk" method="POST">
            <label>Name</label>
            <input type="text" class="field" name="name">

            <label>Email</label>
            <input type="email" class="field" name="email">

            <label>Subject</label>
            <input type="text" class="field" name="subject">

            <label>Message</label>
            <textarea class="field" name="message"></textarea>

            <input id="submit" type="submit" value="Send">
        </form>
    </div>

</section>

